<!DOCTYPE html>
<html>
<head>
  <title>Blojkungen</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "grid" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper" class="row">
		<div class="column grid_12">
			<ul id="main_navigation">
				<% if user_signed_in? %>
					<li>Inloggad som: <%= current_user.email %></li>
					<li><%= link_to "Logga ut", logout_path %></li>
				<% else %>
					<li><%= link_to "Logga in", user_session_path %></li>
				<% end %>

				<li><%= link_to "Kundvag", cart_index_path %></li>
				<li><%= link_to "Sortiment", categorie_index_path %></li>
			<ul>
		</div>
		<div id="yield_content" class="column grid_12" data-pjax-container>
			<%= yield %>
		</div>
	</div>
</body>
</html>
