<!DOCTYPE html>
<html>
<head>
  <title>Blojkungen</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= "Surfid: " + session[:cart_id].to_s %>
	<p><%= link_to "Kundvag", cart_index_path %></p>
	<p><%= link_to "Sortiment", product_index_path %></p>
	<% if user_signed_in? %>
		<p>Inloggad som: <%= current_user.email %></p>
		<p><%= link_to "Logga ut", logout_path, :method => :delete %></p>
	<% else %>
		<p><%= link_to "Logga in", user_session_path %></p>
	<% end %>
	<%= yield %>
</body>
</html>
